<!DOCTYPE html>
<html layout:decorator="layouts/admin-layout" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
 <head>
   <title>Partner Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>

<body>

<div layout:fragment="content">
	<table id="partnerList" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
            	<th>Name</th>
                <th>Select Stage</th>
                <th>Action</th>
            </tr>                                        
        </thead>
        <tbody id="tableBody">
            <tr th:each="owner : ${ownerList}">
			    <td th:text="${owner.id}"></td>
			    <td th:text="${owner.ownerName}"></td>
			    <td th:text="${owner.ownerSecondName}"></td>
	  		</tr>
        </tbody>
    </table>
</div>

</body>
</html>