<!DOCTYPE html>
<html layout:decorator="layouts/admin-layout" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
 <head>
   <title>User Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>

<body>

<div layout:fragment="content">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <style>
		.spinner-border {
		  width: 2rem;
		  height: 2rem;
		  color: #007bff;
		}
	</style>

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	  
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>	
	
	<script src="js/user.js"></script>
	
	<div>
		<input type="button" id="addUserBtn" value="Add New User">
		<br>
		<br>
		<form>
			<table id="userList" class="display" cellspacing="0" width="100%">
		       <thead>
		           <tr>
			           <th style="display: none">ID</th>
			           <th>Name</th>
		               <th>UserName</th>
		               <th>Company Name</th>
		               <th>Email</th>
		               <th>Mobile</th>
		               <th>Status</th>
		               <th>Action</th>
		               <th>Company Id</th>
		               <th>Is Admin?</th>
		               <th>Password</th>
		               <th></th>
		           </tr>                                        
		       </thead>
		       <tbody id="tableBody">
			        <tr th:each="user : ${userList}">
			           	<td th:text="${user.id}"></td>
					    <td th:text="${user.name}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.companyName}"></td>
					    <td th:text="${user.email}"></td>
					    <td th:text="${user.mobile}"></td>
					    <td>
					    	<span th:if="${user.status == 0}">Inactive</span>
					    	<span th:if="${user.status == 1}">Active</span>
					    </td>
					    <td>
					    	<input type="button" value="Edit User" id="editBtn">
					    	<input type="button" value="Delete User" id="dltBtn" style="background-color: yellow">
					    </td>
					    <td th:text="${user.diligenceId}"></td>
					    <td th:text="${user.isAdmin}"></td>
					    <td th:text="${user.password}"></td>
					    <td th:text="${user.clearPassword}"></td>
			  		</tr>
		       </tbody>
		   </table>
		</form>		
	</div>
	
	<div class="modal fade" id="modalWindow1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">                  
                    <h3>Add User</h3>
                    <a class="close" data-dismiss="modal">×</a>
                </div>
                <form id="addUser" name="contact" role="form">
                    <div class="modal-body">				
                        <div class="form-group">
                            <label for="fullName">Name <span style="color: red;">*</span> </label>
                            <input type="text" name="fullName" class="form-control" id="fullName">
                        </div>
                        <div class="form-group">
                            <label for="userName">Username <span style="color: red;">*</span> </label>
                            <input type="text" name="userName" class="form-control" id="userName">
                        </div>
                        <div class="form-group">
                            <label for="password">Password <span style="color: red;">*</span> </label>
                            <div class="input-group">
							    <input type="password" class="form-control" id="password" name="password" />
							    <div class="input-group-append">
							      <span class="input-group-text" id="toggle-password"><i class="fas fa-eye"></i></span>
							    </div>
							</div>
							<label for="password" id="passwordMsgLabel" style="display:none">Password msg Label</label>                                                     
                        </div>
                         <div class="form-group">
                            <label for="password">Confirm Password <span style="color: red;">*</span> </label>
                            <div class="input-group">
							    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
							    <div class="input-group-append">
							      <span class="input-group-text" id="confirm-toggle-Password" ><i class="fas fa-eye"></i></span>
							    </div>
							</div>
							<label for="password" id="confirmedPasswordMsgLabel" style="display:none"> Comfired Password msg Label</label>                                                     
                        </div>
                        <div class="form-group">
                            <label for="oName">Email <span style="color: red;">*</span> </label>
                            <input type="text" name="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="oName">Mobile</label>
                            <input type="text" name="mobile" class="form-control" id="mobile">
                        </div>
                        <div class="form-group">
                            <label for="oAltName">Admin User <span style="color: red;">*</span> </label>
                            <br>
                            <div class="d-flex align-items-center col-md-12">
                                <input class="col-md-1" type="radio" name="mRadio1" id="r1" value="yes">
                                <label class="col-md-1" for="inlineRadio1">Yes</label>
                                <input class="col-md-1" type="radio" name="mRadio1" id="r2" value="no">
                                <label class="col-md-1" for="inlineRadio1">No</label>
                            </div>                            
                        </div>
                        
                        <div class="form-group" id="companyDiv" style="display: none">
                            <label for="selectCompany">Please select company <span style="color: red;">*</span></label>
                            <select class="selectCompany" id="selectCompany" name="selectCompany" style="width: 100%">
					             <option value=""> -- </option>
					             <option th:each="diligence : ${dilList}" th:value="${diligence.id}" th:text="${diligence.name}"></option>
					        </select>
                        </div>
                        <div class="form-group">
                            <label for="selectStatus">Status <span style="color: red;">*</span></label>
                            <select class="selectStatus" id="selectStatus" name="selectStatus" style="width: 100%">
					             <option value="1">Active</option>
					             <option value="0">Inactive</option>
					        </select>
                        </div>					
                    </div>
                    <div class="modal-footer">					
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="button" class="btn btn-success" id="addBtn" onclick="addUser()" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="modalWindow2" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">                  
                    <h3>Update User</h3>
                    <a class="close" data-dismiss="modal">×</a>
                </div>
                <form id="updateUser" name="contact" role="form">
                    <div class="modal-body">
                    	<input type="hidden" id="rowId">				
                        <div class="form-group">
                            <label for="editFullName">Name <span style="color: red;">*</span> </label>
                            <input type="text" name="editFullName" class="form-control" id="editFullName">
                        </div>
                        <div class="form-group">
                            <label for="editUserName">Username <span style="color: red;">*</span> </label>
                            <input type="text" name="editUserName" class="form-control" id="editUserName">
                        </div>
                        <div class="form-group">
                            <label for="editPassword">Password <span style="color: red;">*</span> </label>
                            <div class="input-group">
							    <input type="password" class="form-control" id="editPassword" name="editPassword" />
							    <div class="input-group-append">
							      <span class="input-group-text" id="toggle-edit-password"><i class="fas fa-eye"></i></span>
							    </div>
							</div> 
							<label for="password" id="editPasswordMsgLabel" style="display:none">Password msg Label</label>
                        </div>
                        <div class="form-group">
                            <label for="editPassword">Confirm Password <span style="color: red;">*</span> </label>
                            <div class="input-group">
							    <input type="password" class="form-control" id="editConfirmPassword" name="editConfirmPassword" />
							    <div class="input-group-append">
							      <span class="input-group-text" id="toggle-edit-confirm-password"><i class="fas fa-eye"></i></span>
							    </div>
							</div> 
							<label for="password" id="editConfirmPasswordMsgLabel" style="display:none">Confirm Password msg Label</label>
                        </div>
                        <div class="form-group">
                            <label for="editEmail">Email <span style="color: red;">*</span> </label>
                            <input type="text" name="editEmail" class="form-control" id="editEmail">
                        </div>
                        <div class="form-group">
                            <label for="editMobile">Mobile<span style="color: red;">*</span> </label>
                            <input type="text" name="editMobile" class="form-control" id="editMobile">
                        </div>
                        <div class="form-group">
                            <label>Admin User <span style="color: red;">*</span> </label>
                            <br>
                            <div class="d-flex align-items-center col-md-12">
                                <input class="col-md-1" type="radio" name="nRadio1" id="r3" value="yes">
                                <label class="col-md-1" for="inlineRadio1">Yes</label>
                                <input class="col-md-1" type="radio" name="nRadio1" id="r4" value="no">
                                <label class="col-md-1" for="inlineRadio1" checked>No</label>
                            </div>                            
                        </div>
                        
                        <div class="form-group" id="editCompanyDiv" style="display: none">
                            <label for="editSelectCompany">Please select company <span style="color: red;">*</span></label>
                            <select class="editSelectCompany" id="editSelectCompany" name="editSelectCompany" style="width: 100%">
					             <option value=""> -- </option>
					             <option th:each="diligence : ${dilList}" th:value="${diligence.id}" th:text="${diligence.name}"></option>
					        </select>
                        </div>
                        <div class="form-group">
                            <label for="editSelectStatus">Status <span style="color: red;">*</span></label>
                            <select class="editSelectStatus" id="editSelectStatus" name="editSelectStatus" style="width: 100%">
					             <option value="1">Active</option>
					             <option value="0">Inactive</option>
					        </select>
                        </div>					
                    </div>
                    <div class="modal-footer">					
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="button" class="btn btn-success" id="upadteBtn" onclick="updateUser()" value="Update">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" role="dialog" aria-labelledby="pleaseWaitDialogLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="pleaseWaitDialogLabel">Please Wait</h5>
	      </div>
	      <div class="modal-body">
	        <div class="d-flex justify-content-center">
	          <div class="spinner-border" role="status">
	            <span class="sr-only">Updating...</span>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	
	<script>
		  const togglePassword = document.querySelector('#toggle-password');
		  const password = document.querySelector('#password');
		  togglePassword.addEventListener('click', function (e) {
		    	// toggle the type attribute
			  const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
			  password.setAttribute('type', type);
			    // toggle the eye icon
			  this.querySelector('i').classList.toggle('fa-eye');
			  this.querySelector('i').classList.toggle('fa-eye-slash');
		  });
		  
		  const confirmTogglePassword = document.querySelector('#confirm-toggle-Password');
		  const confirmPassword = document.querySelector('#confirmPassword');
		  confirmTogglePassword.addEventListener('click', function (e) {
		    	// toggle the type attribute
			  const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
			  confirmPassword.setAttribute('type', type);
			    // toggle the eye icon
			  this.querySelector('i').classList.toggle('fa-eye');
			  this.querySelector('i').classList.toggle('fa-eye-slash');
		  });
		  
		  const toggleEditPassword = document.querySelector('#toggle-edit-password');
		  const editPassword = document.querySelector('#editPassword');
		  toggleEditPassword.addEventListener('click', function (e) {
		    	// toggle the type attribute
			  const type = editPassword.getAttribute('type') === 'password' ? 'text' : 'password';
			  editPassword.setAttribute('type', type);
			    // toggle the eye icon
			  this.querySelector('i').classList.toggle('fa-eye');
			  this.querySelector('i').classList.toggle('fa-eye-slash');
		  });
		  
		  const toggleEditConfirmPassword = document.querySelector('#toggle-edit-confirm-password');
		  const editConfirmPassword = document.querySelector('#editConfirmPassword');
		  toggleEditConfirmPassword.addEventListener('click', function (e) {
		    	// toggle the type attribute
			  const type = editConfirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
			  editConfirmPassword.setAttribute('type', type);
			    // toggle the eye icon
			  this.querySelector('i').classList.toggle('fa-eye');
			  this.querySelector('i').classList.toggle('fa-eye-slash');
		  });
		  
		  var t = $('#userList').DataTable();
		  
		  $('#addUserBtn').click(function() {
	            $('#modalWindow1').modal('show');
	            $('#userName').val('');
	            $('#password').val('');
	      });
		  
		  
		  $(document).ready(function(){
			  t.column(0).visible(false);
			  t.column(8).visible(false);
			  t.column(9).visible(false);
			  t.column(10).visible(false);
			  t.column(11).visible(false);
			  
			  $("#r1").click(function () {
				  $("#selectCompany").val("");
		          $("#companyDiv").hide();
		      });
			  
			  $("#r2").click(function () {
		          $("#companyDiv").show();
		      });
			  
			  $("#r3").click(function () {
				  $("#editSelectCompany").val("");
		          $("#editCompanyDiv").hide();
		      });
			  
			  $("#r4").click(function () {
		          $("#editCompanyDiv").show();
		      });
			  
			 
			  
		  });
		  
		  $(document).on('click', '#dltBtn', function(){
			  
			  
			  var r=confirm("Are you sure want to delete this user?");
			  if (r==true)
			  {
				  var row = t.row( $(this).closest('tr'));
				  var rowData = row.data();
				  var rowId = rowData[0];
				  var user = {};
				  user["id"] = rowId;
				  
				  $.ajax({
                      type: "POST",
                      contentType: "application/json",
                      url: "/deleteUser",
                      data: JSON.stringify(user),
                      dataType: 'json',
                      cache: false,
                      timeout: 600000,
                      success: function (data) {
                          if(data["message"]=="Failed"){
                          	  alert("Failed to delete data. Please try again");
                          }
                          
                          else{
                        	  row.remove().draw();
                          }

                      },
                      error: function (e) {

                          alert("Failed to delete data. Please try again");

                      }
                  });
			  }
			  
			  else{
				  
			  }
		  });
		  
		  $(document).on('click', '#editBtn', function(){
			  var row = t.row( $(this).closest('tr'));
			  var rowData = row.data();
			  var rowId = rowData[0];
			  var fullName = rowData[1];
			  var username = rowData[2];
			  var password = rowData[11];
			  var email = rowData[4];
			  var mobile = rowData[5];
			  var admin = rowData[9];
			  var company = rowData[8];
			  var status = (rowData[6]=="Active"? 1: 0);
			  
			  $('#modalWindow2').modal('show');
			  
			  $('.modal-body #rowId').val(rowId);
			  $('.modal-body #editFullName').val(fullName);
			  $('.modal-body #editUserName').val(username);
			  $('.modal-body #editPassword').val(password);
			  $('.modal-body #editEmail').val(email);
			  $('.modal-body #editMobile').val(mobile);			  
			  $('.modal-body #editSelectCompany').val(company);
			  $('.modal-body #editSelectCompanyStatus').val(status);
			  
			  if(admin == "N"){
				  $("#editCompanyDiv").show();
				  $("#r4").prop("checked", true); 
			  }
			  else{
				  $("#editCompanyDiv").hide();
				  $("#r3").prop("checked", true);
			  }
		  }); 
	</script>
</div>

</body>
</html>