<!DOCTYPE html>
<html layout:decorator="layouts/admin-layout" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
 <head>
   <title>Partner Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>

<body style=" background-color: #e3edfd;">

<div layout:fragment="content">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	
	
	<div style="width: 80%; margin-left: 10%;">
		<form th:action="@{/getPartnerData}" method="post" target="_blank">
			<table id="partnerList" class="display" cellspacing="0" width="100%">
		       <thead>
		           <tr>
			           <th style="display: none">ID</th>
			           <th>Company Name</th>
			           <th>Status</th>
		               <th>Action</th>
		           </tr>                                        
		       </thead>
		       <tbody id="tableBody">
			        <tr th:each="diligence : ${diligenceList}">
			           	<td th:text="${diligence.id}" style="display:none"></td>
					    <td th:text="${diligence.name}"></td>
					     <td>
					    	<span th:if="${diligence.profileStatus == 0}" style="color: #068afb">Started</span>
					    	<span th:if="${diligence.profileStatus == 10}" style="color: #068afb">Company completed</span>
					    	<span th:if="${diligence.profileStatus == 20}" style="color: #068afb">Legal completed</span>
					    	<span th:if="${diligence.profileStatus == 30}" style="color: #068afb">Financial completed</span>
					    	<span th:if="${diligence.profileStatus == 40}" style="color: #068afb">Revenue completed</span>
					    	<span th:if="${diligence.profileStatus == 50}" style="color: #068afb">Technology completed</span>
					    	<span th:if="${diligence.profileStatus == 60}" style="color: #068afb">IP completed</span>
					    	<span th:if="${diligence.profileStatus == 90}" style="color: green">All completed !</span>
					    </td>
					    <td>
					    	<button type="submit" name="viewPartnerInfo" class="viewPartnerInfo" th:value="${diligence.id}">View</button>
					    </td>
			  		</tr>
		       </tbody>
		   </table>
		</form>
		
	</div>
	
	<script>
		  var t = $('#partnerList').DataTable();
		  
		  $(document).ready(function () {

			    $('#partnerList').on( 'click', '.viewPartnerInfo', function( event ) {
			        var row = $(this).closest('tr');
			        var rowId = row.find('td:eq(0)').text();
			        var companyName = row.find('td:eq(1)').text();
		        	var tableBtn = document.getElementsByClassName('.viewPartnerInfo');
			        $(this).prop('value', rowId+','+companyName);			        
			    });
			});
	</script>
	
</div>

</body>
</html>