<!DOCTYPE html>
<html layout:decorator="layouts/admin-layout" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
 <head>
   <title>Revenue Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>

<body style=" background-color: #e3edfd;">

<div layout:fragment="content">
<div>
<fieldset id="fieldset4">
	   <div class="form-card">
	   		<div class="row">
                <div class="col-7">
                    <h2 class="fs-title">Company Name: <span th:text="${companyName}"></span></h2>
                </div>
            </div>
            <hr>
	        <div class="row">
	           <div class="col-7">
	               <h2 class="fs-title">Revenue</h2>
	           </div>
	        </div>
	        <hr>
			<label class="fieldlabels">Copies of the 5 largest contracts for the current year.</label>
			<table id="revTable">
				<tr th:each="contracts : ${contractsList}">
			      <td th:text="${contracts.id}" style="display: none"></td>
			      <td th:text="${contracts.filePath}" style="display: none"></td>
				  <td th:text="${contracts.fileName}"></td>
				  <td style="width: 5%"></td>
				  <td>
					  <button type="button" name ="contractsViewBtn" id ="contractsViewBtn" style="border: none">View</button>
				  </td>
				  <td style="width: 2%"></td>
				  <td>
					  <button type="button" name ="contractsDownloadBtn" id ="contractsDownloadBtn" style="border: none">Download</button>
				  </td>
			    </tr>
			</table>
			<br>
	        <label class="fieldlabels">Description of the procedures for contracting and billing maintenance.</label>
	        <input type="text" id="revenue1" th:value="${revenue.revenue1}" style="width: 100%" readonly/>
	        <br>
	        <br>
	        <label class="fieldlabels">Detail of revenue for last 12 months.</label>
	        <input type="text" id="revenue2" th:value="${revenue.revenue2}" style="width: 100%" readonly/>
	        <br>
	        <br>
	        <label class="fieldlabels">Pipeline information.</label>
	        <input type="text" id="revenue3" th:value="${revenue.revenue3}" style="width: 100%" readonly/>
	        <br>
	        <br>
	        <label class="fieldlabels">List of any customers with annual revenue > 10%</label>
	        <input type="text" id="revenue4" th:value="${revenue.revenue4}" style="width: 100%" readonly/>
	        <br>
	        <br>
	        <input type="hidden" id="rowId4" th:value="${revenue.id}"/>
	        <hr>
	    </div>
	</fieldset>
</div>
	
<script>
	$(document).on('click', '#contractsViewBtn', function(){
		var row = $(this).parents('tr');
		var rowData = row.data();
		var filePath = row.find('td:eq(1)').text();
		var fileName = row.find('td:eq(2)').text();
		
		var url = '/viewFile?filepath=' + encodeURIComponent(filePath);
	    window.open(url, '_blank');
		});
		
	$(document).on('click', '#contractsDownloadBtn', function(){
		var row = $(this).parents('tr');
	    var filePath = row.find('td:eq(1)').text();
	    var fileName = row.find('td:eq(2)').text();
	    var xhr = new XMLHttpRequest();
	    xhr.open('POST', '/download', true);
	    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	    xhr.responseType = 'arraybuffer';
	    xhr.onload = function () {
	        if (this.status === 200) {
	            var blob = new Blob([this.response], {type: 'application/octet-stream'});
	            if (typeof window.navigator.msSaveBlob !== 'undefined') {
	                // For IE and Edge browsers
	                window.navigator.msSaveBlob(blob, fileName);
	            } else {
	                // For other browsers
	                var url = window.URL.createObjectURL(blob);
	                var link = document.createElement('a');
	                link.href = url;
	                link.download = fileName;
	                link.click();
	                window.URL.revokeObjectURL(url);
	            }
	        }
	    };
	    xhr.send($.param({filepath: filePath, filename: fileName}));
		
	});
</script>
</div>

</body>
</html>