
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>App Fragments</title>
<title>Title of About Page</title>
    <meta charset="utf-8">
</head>
<body>
    <div th:fragment = "bottom-footer" class="footer-cls">
		  Copyright &copy;
		  <script>document.write(new Date().getFullYear());</script> 
		  All rights reserved 
		  <i class="icon-heart" aria-hidden="true"></i> 
		  by 
		  <a href="https://gigatechltd.com/" target="_blank">Giga Tech Limited</a>
    </div>
</body>
</html>