<!doctype html>
<html lang="en">
  <head>
	<title>Partner Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" th:href="@{/css/profilecompleteform.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script> 
    <script src="js/profilecompleteform.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="nav-css/style.css">
  </head>
  <body>
  <div class="wrapper d-flex align-items-stretch">
  	
    <div id="products-nav" th:replace="~{/layouts/_sideNavbar :: left-side-nav-bar}"></div>
    
	    <div class="p-3 ms-5 mt-0 me-5">
		    <div id="products-header" th:replace="~{/layouts/_header :: top-header}"></div>
	    
	      <div id="content" >
	       <!-- Write HIML code here -->
	      
	      
		  
		  </div>
		   <div id="products-footer" th:replace="~{/layouts/_footer :: bottom-footer}"></div>
	   </div>
   </div>

    <script src="nav-js/jquery.min.js"></script>
    <script src="nav-js/popper.js"></script>
    <script src="nav-js/bootstrap.min.js"></script>
    <script src="nav-js/main.js"></script>
  </body>
</html>