<div th:fragment = "admin-side-nav-bar">
   	   	<nav id="sidebar" class="admin-sidebar">
			<div class="p-4 pt-5">
	  		<!-- <a href="#" class="img logo rounded-circle mb-8" style="background-image: url(images/company-logo.png);"></a> -->
	  		<a href="#" class="img logo" style="background-image: url(images/company-logo.png); background-size: 80%;"></a>
       <ul class="list-unstyled components mb-5">
	       <li th:classappend="${#request.requestURI.startsWith('/home') ? 'active' : ''}">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                   <a href="#">Home 1</a>
               </li>
               <li>
                   <a href="#">Home 2</a>
               </li>
               <li>
                   <a href="#">Home 3</a>
               </li>
            </ul>
          </li>
          <li>
	            <a href="#partnersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Company Management</a>
	            <ul class="collapse list-unstyled" id="partnersSubmenu">
                <li th:classappend="${#request.requestURI.startsWith('/partnerCreate') ? 'active' : ''}">
                   <a th:href="@{/partnerCreate}">Create Company</a>
               </li>
               <li th:classappend="${#request.requestURI.startsWith('/activePartnersList') ? 'active' : ''}">
                   <a th:href="@{/activePartnersList}">Company Submitted Info</a>
               </li>
            </ul>
          </li>
          <li th:classappend="${#request.requestURI.startsWith('/userList') ? 'active' : ''}">
             <a th:href="@{/userList}">Users Management</a>
          </li>
        </ul>

      </div>
   	</nav>
   	
</div>