<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <link th:href="@{/fonts/icomoon/style.css}" rel="stylesheet"  type="text/css"/>
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet"  type="text/css"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"  type="text/css"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"  type="text/css"/>

    <title>Login</title>
  </head>
  <body>
  

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('images/bg_1.jpg');"></div>
    <div class="contents order-2 order-md-1">
    
	<div th:if="${message}" class="alert alert-danger center-align" role="alert" th:text="${message}"></div>
	
      <div class="container">
        <div class="row align-items-center justify-content-center">
        
          <div class="col-md-7">
	         	<div  class="center-align">
	          		<img class="logo-size" th:src="@{/images/company-logo.png}"><br><br>
	            	<h1><strong>Login</strong></h1>
	           	</div>
	            
	            <form method="post" th:action="@{/login}">
	              <div class="form-group first">
	                <label for="username">Username</label>
	                <input type="text" class="form-control" placeholder="your-email@gmail.com" id="username" name="username" required>
	              </div>
	              <div class="form-group last mb-3">
	                <label for="password">Password</label>	                
	                <div class="input-group">
					    <input type="password" class="form-control" placeholder="Your Password" id="password" name="password" required/>
					    <div class="input-group-append">
					      <span class="input-group-text" id="toggle-password"><i class="fas fa-eye"></i></span>
					    </div>
					</div>
	              </div>
	              <input type="submit" value="Login" class="btn btn-block btn-primary">
	            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/login.js"></script>
    <script>
      const togglePassword = document.querySelector('#toggle-password');
	  const password = document.querySelector('#password');

	  togglePassword.addEventListener('click', function (e) {
	    // toggle the type attribute
	  const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
	  password.setAttribute('type', type);
	    // toggle the eye icon
	  this.querySelector('i').classList.toggle('fa-eye');
	  this.querySelector('i').classList.toggle('fa-eye-slash');
	  });
    </script>
  </body>
</html>